<% obj.each do |article| %>
    <div class='row'>
      <div class='well well-sm col-xs-8 col-xs-offset-2'>
        <div class='article-title'>
          <%= link_to article.title, article_path(article.id) %>
          <div class='show-actions'>
            <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                <%= link_to 'Edit', edit_article_path(article.id), class: 'btn btn-xs btn-warning' %>
                <%= link_to 'Delete', article_path(article.id), method: :delete,
                            data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
            <% elsif request.path == articles_path %>
                <%= link_to gravatar_for(article.user, size: 25), user_path(article.user) %>
            <% end %>
          </div>
        </div>
        <div class='article-body border'>
          <p> <%= truncate(article.description, length: 300) %>
            <% if article.categories.any? %>
              <div class='categories float-left'>
                <%= 'Category'.pluralize(article.categories.size) + ':' %>
                <%= render article.categories[0..3] %>
              </div>
          <% end %>
          <small class='show_signature'>By <%= article.user.username %>
            ( <%= time_ago_in_words(article.created_at) %> ago ) </small>
          </p>
        </div>
      </div>
    </div>
<% end %>
