<h2 class='col-xs-offset-2'><%= @article.title %></h2>
<div class='row'>
  <div class='well col-xs-8 col-xs-offset-2'>
    <%= simple_format(@article.description, class: 'show') %>
    <small class='show_signature border'>By <%= @article.user.username %>
      <br><%= time_ago_in_words(@article.created_at) %> ago</small>
    <div class='article-actions border'>
      <% if logged_in? && (current_user == @article.user || current_user.admin?)  %>
          <%= link_to 'Edit', edit_article_path, class: 'btn btn-xs btn-warning' %>
          <%= link_to 'Delete', article_path, method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
          <%= link_to 'Back', :back , class: 'btn btn-xs btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<% if @article.categories.any? %>
    <div class='categories col-xs-8 col-xs-offset-2'>
      <p class='categories float-left'>
        <%= 'Category'.pluralize(@article.categories.size) + ':' %>
        <%= render @article.categories %>
      </p>
    </div>
<% end %>
