<h1 class='center'>List of Categories from the DataBase</h1>
<br>
<div class='center'><%= will_paginate %></div>
<div align='center'>
  <% @categories.each do |category| %>
      <div class="row center">
        <div class='well well-sm col-sm-3 col-xs-offset-4'>
          <div class='category-title'>
            <%= category.name %>
          </div>
        </div>
        <div class='category-actions'>
          <%= link_to 'Edit', edit_category_path(category.id), class: 'btn btn-warning' %>
          <%= link_to 'Delete', category_path(category.id), method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
  <% end %>
  <%= link_to 'New Category', new_category_path, class: 'btn col-sm-3 col-xs-offset-4 btn-primary btn-xlarge' %>
</div>
